<%= link_to 'Додати тварину', new_animal_path %>
<br>
<table>
  <% @animals.each do |animal| %>
    <tr>
      <td><%= animal.title %></td>
      <td>
        <% if animal.avatar.attached? %>
          <%= image_tag(animal.avatar, :size => "100x100") %>
        <% end %>
      </td>
      <td><%= link_to 'Видалити', animal_path(animal),
              method: :delete,
              data: { confirm: 'Ви впевнені?' } %>
      </td>
    </tr>
  <% end %>
</table>
