@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$family-primary:'Ubuntu', sans-serif;
@import 'bulma/bulma';
@import "bulma-extensions";

.container {
  width:25%;
  height:100%;
  position:center;
  background:#ffffff;
  top:0;
  left:0;
}

.input, .field.control.select {
  width:80%;
  background:#ffffff;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.animal-name{
  padding-left: 50%;
}

.is-128x128 {
  margin-left: 40%;
}

a.delete {
  margin-left: 68%;
}

h1.title {
  text-align: center;
}

